body{
    margin: 0 auto;
}

/*header*/
header{
    background-color: lightblue;
    background-image:url("./cssimg/pattern.png");
    background-repeat: repeat;
}

#logo-page{
    height: 40px;
    margin: 40px 200px;
}

/*Main Page*/
main{
    margin-left: 200px;
}

#title-page{
    margin-top: 30px;
    margin-bottom: 0;
}

.write{
    color: rgba(0, 0, 0, 0.6);
}

#booleaner{
    color: rgba(0, 0, 255, 0.7);
}